*,
*::before,
*::after {
  box-sizing: border-box;
}

.select__container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem 1rem;
}

select {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  margin: 0.5rem 1rem;
}

select::-ms-expand {
  display: none;
}
