.add-new-expense {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.add-new-expense button {
  font: inherit;
  cursor: pointer;
  padding: 1rem 1rem;
  border: 1px solid #40005d;
  background-color: #40005d;
  color: white;
  border-radius: 12px;
  margin: 1rem 0;
}
